<!DOCTYPE html>

<html>
<head>
</head>
<body>

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="nav navbar-nav navbar-left" id="home_link">
          Home
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-default" id="slide1_button">Projects</button>
          <!-- <button class="btn btn-default" id="slide2_button">Contact</button> -->
        </ul>
      </div>
    </div>
  </nav>


  <!-- slides -->
  <a name="home_link"></a>
  <div id="home" class="slide row">
    <!-- <div class="col-lg-6"></div> -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 welcome_logo"> 
      <div class="welcome_image_holder"></div>
      <div class="logo texture">
        <p id="first_p"><i>Front-End</i></p>
        <div class="title texture">
          <p class="welcome_header">Thomas Rehnert</p>
        </div>
        <p id="second_p"><i>Developer</i></p>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 about_images">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="box top_bubble">
            <a target="_blank" href="https://www.linkedin.com/pub/thomas-rehnert/4b/aa1/58b">
              <img class="linkedin_image contact_images" src="https://content.linkedin.com/content/dam/engineering/en-us/blog/migrated/linkedin.png">
            </a>
          </div>
          <div class="box">
            <a target="_blank" href="https://github.com/trehnert23">
              <img class="github_image contact_images" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2000px-Octicons-mark-github.svg.png">
            </a>
          </div>
        </div>
      </div>
  </div>

    <!-- <div class="row home_text">
      <div class="col-lg-12 name_tag">
        Thomas Rehnert
      </div>
      <div class="col-lg-12 name_description">
        Front End Web Developer
      </div>
    </div> -->
  </div>


  <!-- PROJECTS SLIDE -->
  <a name="slide1"></a>
  <div id="projects" class="slide2">
    <p class="projects_header">My Projects</p>
    <hr>
    <hr>
    <div class="row projects_div">
      <a target="blank" href="https://coding-bootcamp-reviews.herokuapp.com">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 content-item first">
          <div class="overlay"></div>
          <div class="corner-overlay-content">Info</div>
          <div class="overlay-content">
            <p class="title_header">Coding Bootcamp Reviews</p>
            <p class="hover_paragraph">Languages used: Ruby on Rails, Javascript, HTML5, CSS3, jQuery, PostgreSQL</p>
            <p class="hover_click">Click to Visit the Site!</p>
          </div>
        </div>
      </a>
      <a target="blank" href="https://ebarter.herokuapp.com">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 content-item ebarter">
          <div class="overlay"></div>
          <div class="corner-overlay-content">Info</div>
          <div class="overlay-content">
            <p class="title_header">eBarter</p>
            <p class="hover_paragraph">Languages used: Ruby on Rails, Javascript, HTML5, CSS3, jQuery, PostgreSQL</p>
            <p class="hover_click">Click to Visit the Site!</p>
          </div>
        </div>
      </a>
      <a target="blank" href="https://tommys-shooting-game.herokuapp.com">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 content-item shooting">
          <div class="overlay"></div>
          <div class="corner-overlay-content">Info</div>
          <div class="overlay-content">
            <p class="title_header">Tommy's Shooting Game</p>
            <p class="hover_paragraph">Languages used: Express, Node.js, HTML5, CSS3, jQuery, Javascript, MongoDB</p>
            <p class="hover_click">Click to Visit the Site!</p>
          </div>
        </div>
      </a>
    </div>
    <div class="row projects_div">
      <a target="blank" href="https://weeklymovies.herokuapp.com">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 content-item movies">
          <div class="overlay"></div>
          <div class="corner-overlay-content">Info</div>
          <div class="overlay-content">
            <p class="title_header">Weekly Movie Reviews</p>
            <p class="hover_paragraph">Languages used: Ruby on Rails, Javascript, HTML5, CSS3, jQuery, PostgreSQL</p>
            <p class="hover_click">Click to Visit the Site!</p>
          </div>
        </div>
      </a>
      <a target="blank" href="https://surfings-best.herokuapp.com">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 content-item surfings_best">
          <div class="overlay"></div>
          <div class="corner-overlay-content">Info</div>
          <div class="overlay-content">
            <p class="title_header">Surfing's Best</p>
            <p class="hover_paragraph">Languages used: Ruby on Rails, Javascript, HTML5, CSS3, jQuery, PostgreSQL</p>
            <p class="hover_click">Click to Visit the Site!</p>
          </div>
        </div>
      </a>
    </div>
  </div>


</body>
</html>
